/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #040404;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure all elements respect padding and borders */
}

/* Header Container with Background Image */
.header-container {
    background-image: url('jupiter.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Covering 70% of the viewport height */
    display: flex;
    align-items: center; /* Aligning items to the center vertically */
    justify-content: center; /* Centering the content horizontally */
    text-align: center;
    position: relative; /* Prevent overlap with other elements */
}

header {
    color: white;
    max-width: 80%; /* Limit the width of the header for better alignment */
    z-index: 2; /* Ensure header stays above other content */
}

.typing {
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #f5b074; /* Pastel blue */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    display: inline-block;
}

/* Typing Animation Keyframes */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 40%; /* Adjust width as needed */
    }
}

/* Blinking Cursor Animation Keyframes */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #f5b074; /* Pastel blue */
    }
}

/* Main Content Styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* Ensure main content stays above background */
}

/* Section Styles */
section {
    margin-bottom: 20px;
    width: 80%;
    background: #2a2b57;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px  rgb(94,100,136);
    z-index: 2;
}

/* Heading Styles */
h2 {
    color: #5c5de1; /* Pastel blue */
    font-size: 2em;
    font-weight: 600;
    border-bottom: 2px solid #5c5de1; /* Pastel blue */
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 4px rgba(142, 202, 230, 0.3); /* Decreased glow effect */
}

/* List Styles */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Link Styles */
a {
    color: #c4a7e7; /* Pastel purple */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    color: #e0bbff; /* Lighter pastel purple */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #ffffff;
    background-color: #c4a7e7; /* Pastel purple */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #b48de5; /* Slightly darker pastel purple */
    transform: scale(1.05);
}
